/auto-save-list/
/semanticdb/
/elpa/
/session*
!*.el
/custom.el
/lisp/
/lisp-old/
/solarized/
/tramp
/url
/projectile-bookmarks.eld
/.org-id-locations
/transient/
/bookmarks
/org-persist/
/org-roam.db
/projectile.cache
